@font-face {
    font-family: 'Appears';
    src: url('../fonts/Appears-Regular.woff2') format('woff2'),
        url('../fonts/Appears-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham TR';
    src: url('../fonts/Gotham-Black-TR.woff2') format('woff2'),
        url('../fonts/Gotham-Black-TR.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Book.woff2') format('woff2'),
        url('../fonts/Nexa-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$nexa: 'Nexa';
$appears: 'Appears';
$gotham: 'Gotham TR';
$gotham-l: 'Gotham';
$b: #000;
$w: #FFF;
$g: #3C3C3C;
$y: #D6E316;

body {
    font-family: $appears;
    background: $b;
    -webkit-animation: fadeIn 2s linear 1;
    -moz-animation: fadeIn 2s linear 1;
    -o-animation: fadeIn 2s linear 1; 
    animation: fadeIn 2s linear 1;

    @-webkit-keyframes fadeIn {    
        0% { opacity:0; }
        100% { opacity:1; }
    }
    
    @-moz-keyframes fadeIn {    
        0% { opacity:0; }
        100% { opacity:1; }
    }
    
    @-o-keyframes fadeIn {    
        0% { opacity:0; }
        100% { opacity:1; }
    }
    
    @keyframes fadeIn {    
        0% { opacity:0; }
        100% { opacity:1; }
    }
    img {
        -webkit-user-drag: none;
        user-drag: none;
        user-select: none;
    }


    .topbox_close {
        &::before {
            content: url(../materials/cancel.svg) !important;
        }

    }

    .topbox_prev {
        &:before {
            content: url(../materials/pop-l.svg) !important;
        }
    }

    .topbox_next {
        &:before {
            content: url(../materials/pop-r.svg) !important;
        }
    }

    .topbox_html5video {
        margin: auto !important;
        max-width: auto !important;
        height: 100% !important;
    }


    .topbox_skin_darkroom .topbox_fill {
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }

    .viewport-header {
        position: relative;
        height: 100vh;
        text-align: center;
        z-index: 999;

        a {
            text-decoration: none;
        }

        .title {
            color: $y;
            text-transform: uppercase;
            position: relative;
            z-index: 99999;
            h1 {
                font-size: 96px;
            }
            img {
                max-width: 50px;
                height: auto;
                position: relative;
                top: -10px;
            }
        }

        .navbar {
            .right {
                font-family: $gotham;
                .active {
                    color: $y;
                    font-family: $gotham;
                    &:hover {
                        border-bottom: solid 2px transparent;
                    }
                }
                a {
                    color: $w;
                    font-family: $gotham-l;
                    border-bottom: 2px solid transparent;
                    transition: all 0.5s ease;
                    &:hover {
                        border-bottom: 2px solid $y;
                    }
                }
                .lang {
                    display: none;
                    a {
                        &:hover {
                            border-bottom: solid 2px transparent;
                        }
                        &:nth-child(even) {
                            &::after {
                                content: "";
                            }
                        }
                        &::after {
                            content: " - ";
                            color: $w;
                        }
                    }
                }
            }
        }

        .slider {
            .out-navigation {
                position: absolute !important;
                z-index: -1;
                height: 100%;
                display: flex;
                align-items: center;
                align-content: center;
                width: 100% !important;
                .swipe-l {
                    position: absolute;
                    left: 20px;
                }
                .swipe-r {
                    position: absolute;
                    right: 20px;
                }
            }
            .navigation {
                position: relative;
                margin-top: -80px;
                button {
                    border-radius: 100%;
                    border: solid 1px $y;
                    height: 40px;
                    width: 40px;
                    img {
                        filter: invert(81%) sepia(100%) saturate(385%) hue-rotate(5deg) brightness(98%) contrast(81%);
                    }
                }
                .swipe-r {
                    background: url(../materials/chevron.svg), #665527c4;
                    background-size: 20px 20px !important;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                }
                .swipe-l {
                    background: url(../materials/chevron.svg), #665527c4;
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    transform: rotate(-180deg);
                }
            }
            img {
                position: relative;
                padding: 1em;
            }
            .initial {
                border: initial !important;
                &::after {
                    position: initial !important;
                }
                &::before {
                    position: initial !important;
                }
            }
            .right {
                .col-xl-6 {
                    h1 {
                        color: $w;
                        text-transform: uppercase;
                        font-size: 90px;
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    }


                    ul {
                        font-family: $nexa;
                        list-style-type: none;
                        text-transform: uppercase;                    
                        padding-left: 1em;
                        li {
                            color: $y;
                            border-bottom: solid 1px $g;
                            padding: .75em 0;
                            span {
                                color: $w;
                            }
                        }
                    }
                }
            }

            .col-xl-6 {
                border-top: 2px solid $y;
                padding: 0;
                max-width: 600px !important;
                width: auto !important;
                max-height: 500px;
                height: 100%;
                img {
                    object-fit: cover !important;
                    max-width: 100% !important;
                    width: 100% !important;
                    height: 500px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 35%;
                    margin-top: -2px;
                    background: $y;
                    z-index: 999;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 20%;
                    margin-top: -2px;
                    background: $y;
                    z-index: 999;
                }
            }
            .bottom {
                max-width: 600px;
                width: 100%;
                .col-xl-2 {
                    width: 100%;
                    max-width:200px !important;
                    height: 100% !important;
                    img {
                        width: 100%;
                        max-width:200px;
                        height: 125px;
                        object-fit: cover;
                    }
                }
            }
        }

        .main {
            .title {
                position: relative;
                z-index: initial;
                h1 {
                    color: $y;
                    font-family: $gotham;
                    font-size: 24px;
                    border-left: solid 1px $y;
                    border-top: solid 1px $y;
                    padding: 1em;
                    width: 125px;
                }
            }

            .artist {
                a {
                    font-size: 32px;
                    color: $w;
                    transition: all 0.5s ease;
                    &:hover {
                        color: $y;
                        &::after {
                            color: $w;
                        }
                    }
                    &:after {
                        content: " / ";
                        color: $w;
                    }
                }
            }

            .about {
                .secOne {
                    h1 {
                        font-size: 96px;
                        color: $w;
                    }
                    p {
                        color: $w;
                        font-family: $nexa;
                    }
                }
                .secTwo {
                    h1 {
                        font-size: 96px;
                        color: $y;
                    }
                    p {
                        color: $w;
                        font-family: $nexa;
                    }
                }
            }
        }

        .bordered {
            h1 {
                border-bottom: 2px solid $y;
                max-width: 170px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: .75em;
            }
            h2 {
                font-family: $gotham;
                color: $w;
                transition: all ease 0.5s;
                &:hover {
                    color: $y;
                }
            }
        }

        .nav-area {
            .initial {
                img {
                    max-width: 450px !important;
                    width: 100%;
                }
            }
            h1 {
                color: $w;
                font-size: 84px;
            }
            .left {
                h1 {
                    color: $w;
                    transition: all 0.5s ease;
                    &:hover {
                        color: $y;
                    }
                }
            }
    
            .middle {
                img {
                    max-width: 150px;
                    width: 100%;
                    &:hover {
                        -webkit-animation: upScale 1s infinite;
                        -moz-animation: upScale 1s infinite;
                        -o-animation: upScale 1s infinite; 
                        animation: upScale 1s infinite;
                        animation-direction: alternate;
                    
                        @-webkit-keyframes upScale {    
                                0% { transform: scale(1.0); }
                                100% { transform: scale(1.05); }
                        }
                        
                        @-moz-keyframes fupScale {    
                            0% { transform: scale(1.0); }
                            100% { transform: scale(1.05); }
                        }
                        
                        @-o-keyframes upScale {    
                            0% { transform: scale(1.0); }
                            100% { transform: scale(1.05); }
                        }
                        
                        @keyframes upScale {    
                            0% { transform: scale(1.0); }
                            100% { transform: scale(1.05); }
                        }
                    }
                }
            }
    
            .right {
                h1 {
                    color: $w;
                    transition: all 0.5s ease;
                    &:hover {
                        color: $y;
                    }
                }
            }
        }

        .footer {
            p {
                font-family: $nexa;
                color: $g;
            }
            .logoArea {
                img {
                    max-width: 60px;
                    width: 100%;
                }
            }
        }

    }

    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        opacity: 0.75;
        top: 0;
        left: 0;
      }


      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -5px);
        transform: rotate(45deg) translate(-5px, -5px);
      }

      .menu {
          position: relative;
          z-index: 99999;
        .bar1, .bar2, .bar3 {
            transition: all 0.5s ease;
            width: 30px;
            height: 1px;
            background-color: $y;
            margin: 6px 0;
          }
      }

    .side-active {
        width: 100% !important;
    }

    .sidenav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .sidenav a {
        padding: .50em 0;
        text-decoration: none;
        text-transform: uppercase;
        color: $w;
        display: block;
        font-size: 21px;
        transition: 0.3s;
        font-family: $gotham-l;
        position: relative;
    }

    .sidenav .active {
        font-family: $gotham;
        color: $y;
    }

    .sidenav .lang .active {
        font-family: $gotham-l;
        color: $w;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
      
}

@media only screen and (max-width: 1200px) {
    body {
        .viewport-header {  
            .slider {
                .out-navigation {
                    position: relative !important;
                    height: auto;
                    display: block !important;
                    align-items: flex-end;
                    align-content: flex-end;
                    width: 100% !important;
                    margin-top: 50px !important;
                    z-index: 1 !important;
                    .swipe-l {
                        position: absolute;
                        left: 0px;
                    }
                    .swipe-r {
                        position: absolute;
                        right: 0px;
                    }
                }
                .col-xl-6 {
                    max-width: 100% !important;
                    img {
                        height: 330px !important;
                    }
                }
            }    

            .right {
                .col-xl-6 {
                    h1 {
                        font-size: 64px !important;
                    }
                }
            }
            .title {
                color: $y;
                text-transform: uppercase;
                h1 {
                    font-size: 56px;
                }
            }

            .main {
                .title {
                    h1 {
                        width: 100% !important;
                    }
                }

                .artist {
                    a {
                        display: flex;
                        &::after {
                            content: "";
                        }
                    }
                }
            }
    
            .nav-area {
                h1 {
                    color: $w;
                    font-size: 42px;
                }
                .left {
                    h1 {
                        color: $w;
                        transition: all 0.5s ease;
                        &:hover {
                            color: $y;
                        }
                    }
                }
        
                .middle {
                    img {
                        max-width: 100px;
                        width: 100%;
                    }
                }
        
                .right {
                    h1 {
                        color: $w;
                        transition: all 0.5s ease;
                        &:hover {
                            color: $y;
                        }
                    }
                }
            }
    
            .footer {
                p {
                    font-family: $nexa;
                    color: $g;
                }
                .logoArea {
                    img {
                        max-width: 40px;
                        width: 100%;
                    }
                }
            }
    
        }  
    }
}

@media only screen and (max-width: 400px) {
    body {
        .viewport-header {   
            .slider {
                .col-xl-6 {
                    img {
                        height: 250px !important;
                    }
                }
            }   
            .title {
                color: $y;
                text-transform: uppercase;
                h1 {
                    font-size: 42px;
                }
            }
    
            .nav-area {
                h1 {
                    color: $w;
                    font-size: 36px;
                }
                .left {
                    h1 {
                        color: $w;
                        transition: all 0.5s ease;
                        &:hover {
                            color: $y;
                        }
                    }
                }
        
                .middle {
                    img {
                        max-width: 75px;
                        width: 100%;
                    }
                }
        
                .right {
                    h1 {
                        color: $w;
                        transition: all 0.5s ease;
                        &:hover {
                            color: $y;
                        }
                    }
                }
            }
    
            .footer {
                p {
                    font-family: $nexa;
                    font-size: 12px;
                    color: $g;
                }
                .logoArea {
                    img {
                        max-width: 30px;
                        width: 100%;
                    }
                }
            }
    
        }  
    }

    .sidenav {
        padding-top: 150px !important;
        a {
            top: -50px;
        }
    }
}
